@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.timeline-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
}

.top-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  width: 100%;
}

.image-container {
  margin-right: 20px;
}

.image-container img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.content {
  margin-left: 41px;
  text-align: left;
}

h2 {
  margin-bottom: 10px;
  text-align: left;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-style: normal;
  width: 260px;
  font-size: 16px;
  margin-top: 5px;
  line-height: 1.5;
}

.timeline {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  margin-top: 50px;
}

.timeline-item {
  position: relative;
  text-align: center;
  cursor: pointer;
  flex-grow: 1;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.timeline-item span {
  font-size: 14px;
  position: relative;
  top: -30px;
}

.timeline-item.active span {
  color: #007bff;
  font-weight: bold;
  transform: scale(1.1);
}

.timeline-item::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ccc;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  transition: background-color 0.3s ease-in-out;
}

timeline-item.active::before {
  background-color: #007bff;
}

.timeline-line {
  position: absolute;
  top: 50%;
  left: 0;
  height: 5px;
  background: #ccc;
  z-index: 0;
  transform: translateY(-50%);
  transition: width 0.5s ease, background-color 0.5s ease;
}

.timeline-line.active {
  background-color: #007bff;
}

.content-item {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.content-item.active {
  display: block;
  opacity: 1;
}

h2 {
  text-align: left;
}

p {
  text-align: left;
  white-space: pre-wrap;
}
